<br>
<mat-card-header>
  <mat-card-title>Estudio</mat-card-title>
</mat-card-header>
<form class="study-form">
  <mat-form-field class="study">
    <input type="text"
           placeholder="Elige/Crea un estudio"
           aria-label="Number"
           matInput
           [formControl]="myStudyControl"
           [matAutocomplete]="auto"
           [(ngModel)]="selectedItem">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<label id="studyLabel">{{notFound}}</label>