<mat-tab-group (selectedTabChange)="onTabChanged($event)" 
               [selectedIndex]="selectedIndex">
  <mat-tab *ngFor="let tab of tabs; let index = index">
     <ng-template mat-tab-label>
       <input matInput placeholder="Ejemplo Protocolo 1" value={{protocols[index].name}} (input)="changeNameProtocol($event, index)">
    </ng-template>
    <div class="container">
    	<div class="row">
        	<div class="col">
			    <segment [protocolId]="protocols[index].id" [protocolName]="protocols[index].name" [segmentListArray]="protocols[index].segmentListArray"></segment>
			</div>
	     </div>
		 <div class="row">
        	<div class="col">
			    <block-protocol [protocolId]="protocols[index].id" [protocolName]="protocols[index].name" [blockListArray]="protocols[index].blockListArray"></block-protocol>
			</div>
	     </div>
	     <div class="row">
        	<div class="col">
			    <button mat-raised-button
			            class="example-delete-tab-button"
			            [disabled]="tabs.length === 1"
			            (click)="removeTab(index)">
			      Borrar Protocolo
			    </button>
			</div>
	     </div>
	</div>
  </mat-tab>
  <mat-tab>
   <ng-template mat-tab-label>
      <button mat-icon-button (click)="addTab()" color="black">
         <mat-icon svgIcon="add-new"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
