<br>
<mat-card>
	<mat-card-header>
    	<mat-card-title>Bloques</mat-card-title>
    </mat-card-header>
    <mat-card-content>
		<form [formGroup]="blockForm" class="block-form">
		  <mat-form-field class="block">
		    <input type="text"
		           placeholder="Elige/Crea un bloque"
		           aria-label="Number"
		           matInput
		           [formControl]="blockForm"
		           [matAutocomplete]="auto">
		    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
		      <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
		        {{item.text}}
		      </mat-option>
		    </mat-autocomplete>
		  </mat-form-field>
		</form>
		<label id="blockLabel">{{notFound}}</label>
		<!--mat-list>
		 <mat-list-item *ngFor="let blockElement of blockElements; let i = index">
		     <div class="example-label" *ngIf="segment.type===1">{{i}}) {{blockElement.text}}</div>
		     <mat-action-list>
		       <div>
			      <button mat-icon-button (click)="removeBlockElement($event, i)" color="black">
			         <mat-icon class="btn_list" style="width: 15px;height: 15px" svgIcon="minus-delete"></mat-icon>
			      </button>
			   </div>
			 </mat-action-list>
		 </mat-list-item>
		</mat-list-->
	</mat-card-content>
</mat-card>