.block-form {
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}

.block {
  width: 100%;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.mat-list-base {
    padding-top: 0px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.btn_list {
    vertical-align: baseline;
}
