<br>
<mat-card>
	<mat-card-header>
    	<mat-card-title>Bloques</mat-card-title>
    </mat-card-header>
    <mat-card-content>
		<form [formGroup]="blockForm" class="formblock">
		  <mat-form-field class="blockSelect">
		    <input type="text"
		           placeholder="Elige/Crea un bloque"
		           aria-label="Number"
		           matInput
		           [formControl]="myBlockControl"
		           [matAutocomplete]="auto">
		    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
		      <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
		        {{item}}
		      </mat-option>
		    </mat-autocomplete>
		  </mat-form-field>
	      <mat-form-field  appearance="fill" class="elementSelect">
			  <mat-label>Elige...</mat-label>
			  <mat-select formArrayName="blockElementListArray" (selectionChange)="blockElementListSelection($event)">
			    <mat-option *ngFor="let blockElementList of blockForm?.controls.blockElementListArray.value" [value]="blockElementList.id">
			        {{blockElementList.blockElement.question?.question}}{{blockElementList.blockElement.stimulus?.name}}
			    </mat-option>
			  </mat-select>
	      </mat-form-field>
		  <button mat-icon-button (click)="addBlock()" color="black">
	         <mat-icon svgIcon="add-new"></mat-icon>
	      </button>
		</form>
		<label id="blockLabel">{{notFound}}</label>
		    <form [formGroup]="protocolBlockForm">
		       <div formArrayName="blockListArray" *ngFor="let blockList of protocolBlockForm?.controls.blockListArray?.value; let iBlock = index" >
          		    <hr style="height: 3px;">
          			<!--ng-container [formGroupName]="i"-->
          			  <div class="divheader">{{blockList.block.name}}
          			     <button mat-icon-button (click)="removeBlock(iBlock)" color="black">
					         <mat-icon class="btn_list" style="width: 15px;height: 15px" svgIcon="minus-delete"></mat-icon>
					      </button>
          			  </div>
				   	  <div>
						  <mat-list>
							 <mat-list-item *ngFor="let blockElementList of protocolBlockForm.controls.blockListArray.value[iBlock].block.blockElementListArray; let iBlockElement = index">
							     <div class="example-label"><strong>{{iBlockElement}})</strong> {{blockElementList.blockElement.question?.question}}{{blockElementList.blockElement.stimulus?.name}}</div>
							     <mat-action-list>
							       <div>
								      <button mat-icon-button (click)="removeBlockElement(iBlock, iBlockElement)" color="black">
								         <mat-icon class="btn_list" style="width: 15px;height: 15px" svgIcon="minus-delete"></mat-icon>
								      </button>
								   </div>
								 </mat-action-list>
							 </mat-list-item>
						  </mat-list>
					   </div>
            		<!--/ng-container-->
       		    </div>	
			</form>
	</mat-card-content>
</mat-card>