<br>
<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Participantes</mat-card-title>
      <!--input #importInput type="file" style="display: none" (change)="importExcel($event.target.files)" accept=".xlsx, .xls"/-->
      <button mat-icon-button (click)="importExcel()" color="primary">
         <mat-icon svgIcon="import-csv"></mat-icon>
      </button>
      <button mat-icon-button (click)="exportExcel()" color="primary">
         <mat-icon svgIcon="export-csv"></mat-icon>
      </button>
      <button mat-icon-button (click)="addNew()" color="primary">
         <mat-icon svgIcon="add-new"></mat-icon>
      </button>
      <button mat-icon-button (click)="deleteAll()" color="primary">
         <mat-icon svgIcon="delete-bin"></mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
	  <mat-table [dataSource]="elistMatTableDataSource" formControlName="participants" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px">
            Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput formControlName="name" placeholder="Nombre"
                required>
              <mat-error *ngIf="name?.invalid">
                <div *ngIf="name.errors.required">El nombre es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput formControlName="email" placeholder="Email" required>
              <mat-error *ngIf="email?.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Edad
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput formControlName="age" placeholder="Edad" required style="text-overflow: ellipsis;">
              <mat-error *ngIf="age?.invalid">
                <div *ngIf="age.errors.required">La edad es obligatoria</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Género
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
            <mat-form-field>
              <mat-label></mat-label>
              <mat-select matInput formControlName="gender" placeholder="Género" required>
                <mat-option value="Mujer">Mujer</mat-option>
                <mat-option value="Hombre">Hombre</mat-option>
              </mat-select>
              <mat-error *ngIf="gender?.invalid">
                <div *ngIf="gender.errors.required">El género es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profile">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Perfil
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput placeholder="Perfil"
                required style="text-overflow: ellipsis;"
                formControlName="profile"
                [matAutocomplete]="auto">
			    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
			      <mat-option *ngFor="let item of profileOptions[rowIdx] | async" [value]="item">
			        {{item}}
			      </mat-option>
			    </mat-autocomplete>
              <mat-error *ngIf="profile?.invalid">
                <div *ngIf="profile.errors.required">El perfil es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        
        <!-- Delete Column -->
        <ng-container matColumnDef="deleteParticipant">
			<mat-header-cell *matHeaderCellDef> Borrado </mat-header-cell>
			<mat-cell *matCellDef="let participant; let rowIdx = index;" [formGroup]="participant">
	       		<button mat-icon-button color="primary" aria-label="" (click)="deleteParticipant(participant)">
	        		<mat-icon svgIcon="delete-bin"></mat-icon>
	      		</button>
    		</mat-cell>
 		</ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="onRowChanged(row, getActualIndex(i))" (input)="onRowChanged(row, getActualIndex(i))" *matRowDef="let row; columns: displayedColumns; let i = index;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save(form);">SAVE</button>
    </mat-card-actions-->
  </mat-card>
</form>