<br>
<form #testForm="ngForm" (ngSubmit)="testForm.form.valid" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Participantes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="elistMatTableDataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>
            Nombre
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput #name="ngModel" name="txtName{{rowIdx}}" placeholder="Nombre" [(ngModel)]="participant.name"
                required>
              <mat-error *ngIf="name?.invalid">
                <div *ngIf="name.errors.required">El nombre es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput #email="ngModel" name="txtEmail{{rowIdx}}" placeholder="Email"
                [(ngModel)]="participant.email" required>
              <mat-error *ngIf="email?.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef>
            Edad
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput #age="ngModel" name="txtAge{{rowIdx}}" placeholder="Edad"
                [(ngModel)]="participant.age" required style="text-overflow: ellipsis;">
              <mat-error *ngIf="age?.invalid">
                <div *ngIf="address.errors.required">La edad es obligatoria</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef>
            Género
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;">
            <mat-form-field>
              <mat-label></mat-label>
              <mat-select matInput #gender="ngModel" name="ddlGender{{rowIdx}}" placeholder="Genero"
                [(ngModel)]="participant.gender" required>
                <mat-option value="Mujer">Mujer</mat-option>
                <mat-option value="Hombre">Hombre</mat-option>
              </mat-select>
              <mat-error *ngIf="gender?.invalid">
                <div *ngIf="gender.errors.required">El género es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profile">
          <mat-header-cell *matHeaderCellDef>
            Perfil
          </mat-header-cell>
          <mat-cell *matCellDef="let participant; let rowIdx = index;">
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput #profile="ngModel" name="txtProfile{{rowIdx}}" placeholder="Perfil"
                [(ngModel)]="participant.profile" required style="text-overflow: ellipsis;">
              <mat-error *ngIf="profile?.invalid">
                <div *ngIf="address.errors.required">El perfil es obligatorio</div>
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;">
        </mat-row>
      </mat-table>
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="testForm.invalid" (click)="save(testForm);">SAVE</button>
    </mat-card-actions-->
  </mat-card>
</form>