<header class="site-header">
  <div class="col">
	<h1 class="mb-0 blueTitle">C O N F I G U R A D O R</h1>
  </div>	
  <div class="container">
	  <div class="row">
	    <div class="col">
	  		<a class="site-header-logo no-underline-hover" href="/">
	   		 <img src="/config-kopernica/assets/logo-kopernica-apaisado.png" width="340" height="80" class="d-inline-block align-top" alt="" loading="lazy">
	  		</a>
	  	</div>
	 </div> 
  </div>
</header>

<div class="container">
    <div class="row">
         <div class="col">
            <project-combo (shareItemToParent) = shareItemToParent($event) [listItems]="listProjects"></project-combo>
		</div>
		<div class="col">
            <study-combo (shareItemToParent) = shareEstudioToParent($event) [listItems]="listEstudios"></study-combo>
         </div>
        <div class="col">
            <button type="submit" (click)="addStudy()" style="border:none;background:none;"><img src="/config-kopernica/assets/add.png" width="25" height="25"/></button>
         </div> 
    </div>
    <div class="row">
      <div class="col-12">
      	 <projectType-radio (shareItemToParent) = shareChangeType($event) [selectedItem]="typeSelected"></projectType-radio>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <participant-list></participant-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <pregunta-list></pregunta-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <estimulo-list></estimulo-list>
      </div>
    </div>
</div>
