<header class="site-header">
  <div class="col">
	<h1 class="mb-0 blueTitle">C O N F I G U R A D O R</h1>
  </div>	
  <div class="container">
	  <div class="row">
	    <div class="col">
	  		<a class="site-header-logo no-underline-hover" href="/">
	   		 <img src="/config-kopernica/assets/logo-kopernica-apaisado.png" width="340" height="80" class="d-inline-block align-top" alt="" loading="lazy">
	  		</a>
	  	</div>
	 </div> 
  </div>
</header>

<div class="container">
    <div class="row">
         <div class="col">
            <project-combo (shareItemToParent) = shareItemToParent($event) [listItems]="listProjects"></project-combo>
		</div>
		<div class="col">
            <study-combo (shareItemToParent) = shareEstudioToParent($event) [listItems]="listEstudios" [selectedItem]="studySelected"></study-combo>
         </div>
    </div>
    <div class="row">
      <div class="col">
      	 <projectType-radio (shareItemToParent) = shareChangeType($event) [selectedItem]="typeSelected" disabled="{{typeDisabled}}"></projectType-radio>
      </div>
      <div class="col">
            <button type="submit" [disabled]="addStudyDisabled" (click)="addStudy()" style="border:none;background:none;"><img src="../../config-kopernica/assets/add-new.svg" width="25" height="25"/></button>
      </div> 
    </div>
    <div class="row">
      <div class="col-12">
        <participant-list [participants]="participants" [project]="projectSelected" [study]="studySelected" disabled="{{listComponentsDisabled}}"></participant-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <pregunta-list [questions]="questions" [project]="projectSelected" [study]="studySelected" disabled="{{listComponentsDisabled}}"></pregunta-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <estimulo-list [stimuli]="stimuli" [project]="projectSelected" [study]="studySelected" disabled="{{listComponentsDisabled}}"></estimulo-list>
      </div>
    </div>
    <div class="row">
       <div class="col-12">
          <protocol-tabs></protocol-tabs>
       </div>
    </div>
</div>

